<div class="container">
	<div class="row">

		<div class="col-xs-3">

			<%= render 'users/info', users: @users, books: @books %>

		</div>

		<div class="col-xs-8">
			<h2>Book detail</h2>

			<table>
				<tbody>

					<tr>
						<td><%= attachment_image_tag @book.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: 'no_image.jpg' %></td>
						<td>
							<%= @book.title %>
						</td>
						<td><%= @book.body %></td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>
</div>