// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 *= require_tree .
 *= require_self
*/

.button {
	width: 100%;
	display: inline-block;
	text-align: center;
}

.btn {
	width: 90%;
}

.about {
	font-size: 40px;
	margin: 10px 150px;
}